@model Person

<div class="table-partial">
    <div class="row">
        <div class="col">@Model.Name</div>
        <div class="col">@Model.City</div>
        <div class="col">@Model.PhoneNumber</div>
        <a asp-action="PersonDelete" asp-route-id="@Model.Id" class="col mb-3 btn btn-dark">Delete Person</a>
    </div>
    
</div>