@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.main-content a {
    color: lightseagreen;
    text-decoration: none;
    position: relative;
}

    .main-content a:hover {
        color: darkkhaki;
    }

    .main-content a::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 8px;
        background-color: chocolate;
        top: 20px;
        transition: all 0.3s, background-color 0.8s;
    }

    .main-content a:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        height: 2px;
        top: 20px;
    }

.main-content {
    margin-top: 50px;
    max-width: 600px
}

h1,
h2 {
    text-align: center;
}

.guessing-game-splash {
    background: #0e8dbc;
    height: 100px;
    border-radius: 1rem;
}

    .guessing-game-splash h1 {
        color: #e0dfdc;
        background: #556677;
        background: #556677;
        border-radius: 0.25rem;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    }


    .guessing-game-splash h2 {
        font-size: 22px;
        text-transform: capitalize;
        color: #ffff;
        text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }

.card {
    margin-top: 3rem;
}

.card-footer {
    border: none;
}

footer.container-fluid {
    text-align: center;
}

.temp-form {
    margin: 40px auto;
    /*background-color: red;*/
    max-width: 200px;
}

    .temp-form .form-control,
    .temp-form button,
    .temp-form button:active {
        width: 200px;
    }


.accordion {
    margin-top: 20px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    font-family: "Poor Story", sans-serif;
    font-size:1.4rem
}

.guess-button {
    margin-top: 1rem;
}

.font-oswald {
    font-family: Oswald, sans-serif;
}

.bad-guess {
    color: red;
}

.game-message-box p {
    text-align: center;
}

.game-message-box-win p {
    text-align: center;
    color: green;
}