@{
    ViewData["Title"] = "Contact - SunCode Media";
}

<h1>Contact</h1>

<div>
    <div class="card">
        <div class="card-body">
            <ul>
                <li>Name: Mikael</li>
                <li>Contact: mikael.code.dev@outlook.com</li>
                <li>Phone: [SECRET]</li>
            </ul>
        </div>
        <div class="card-footer"></div>
    </div>
</div>