@{
    ViewData["Title"] = "Home - SunCode Media";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">The best Web Page</h1>
        <p class="col-md-12 fs-4">
            Welcome! Have a look at the best web page in the world. Browse around and find what you're looking for
        </p>
    </div>
</div>