@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<div>
    <div class="card">
        <div class="card-header">
            <h2>My Project Repository</h2>
        </div>
        <div class="card-body">
            <ol>
                <li><a href="https://github.com/mikael-code-dev/Hangman" target="_blank">Hangman</a></li>
                <li><a href="https://github.com/mikael-code-dev/JumpinFrog" target="_blank">JumpinFrog</a></li>
                <li><a href="https://github.com/mikael-code-dev/MyVendingMachine" target="_blank">MyVendingMachine</a></li>
            </ol>
        </div>
        <div class="card-footer"></div>
    </div>
</div>